streamlit==1.42.2
pandas==2.2.3
numpy==2.2.2
pillow==10.4.0
python-docx==1.1.2
pypdf==6.1.1
PyPDF2==3.0.1
docx2txt==0.8
pdfminer.six==20240706
openai==1.64.0
groq==0.18.0
python-dotenv==1.0.1
requests==2.32.3
nltk==3.9.1
scikit-learn==1.6.1
beautifulsoup4==4.13.3
lxml==5.3.1
